@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{font-family: 'Poppins', sans-serif;
    background: #fafafa}
p{font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line{
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    top: 60px;
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    background: rgb(53,58,63);
    color: #ffffff;
    transition: all 0.3s;
    z-index: 3;
    overflow-y: scroll;
}

#sidebar.active{
    margin-left: -250px;
}

.sidebar-header{
    padding-left: 30px;
    color: white;
    font-size: 1.5em;
}
#sidebar ul.components{
    padding: 20px 0px;
    border-bottom: 1px solid #19868C;
}

#sidebar ul p{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #222A68;
    background: #ffffff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

LTS ul{
    padding: 20px;
}

ul a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 50px;
    margin-bottom: 5px;
}
a.download{
    background: #fff;
    color: #7386D5;
    padding-top: 20px;
}
a.article,
a.article:hover {
    background: #222A68 !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media(max-width:768px){
    #sidebar{margin-left: -250px;}
    #sidebar.active{
        margin-left: 0px;
    }
    #sidebarCollapse span{
        display: none;
    }
}

#hell{
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    font-size: 1.2em;
}

#hell .navbar-brand{
    font-size: 1.2em;
}


.kelo{
    display: block;
}

select{
    text-align-last: center;
    padding-right: 29px;
    direction: ltr;
}

#profile
{
    padding-bottom: 30px;
    padding-top: 10px;
}

#compa
{
    padding-bottom: 50px;
}

#bellow{
    padding-bottom: 20px;
    border-bottom: 2px solid #19868C;
}

#bello{
    padding-top: 20px;
}

.navbar-brand{
    padding-left: 10px;
}

.disable{
    display: none;
}

#sidebar .components a{
    color: #ffffff;
}


#button {
    color: #ffffff;
    margin-left: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: bold;
}